<section class='home'>
    <h1>Money Tracker</h1>
    <div class='btn-group'>
        <%= link_to 'Login', new_user_session_path, class:'log-btn '%>
        <%= link_to 'Register', new_user_registration_path, class:'log-btn '%>
    </div>
</section>